.carousel-inner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span{
    background-color: black !important; 
}

@media print{
    .m-t-1{
        display: none;
    }
    
}