<div class="maincontent__experience">
  <h5>EXPERIENCE</h5>


  <div *ngFor="let experienceItem of experience; index as i" class="maincontent__block">

    <div *ngIf="experienceNumberSelected[i]; else positionSelectedBlock">
      <h6 class="experience__position maincontent__blockcontent" id="name">
        <input type="text" [(value)]="experience[i].position" (keyup.enter)="experienceEnter(experienceBox.value,i)" (focusout)="experienceEnter(experienceBox.value,i)"
          #experienceBox/>
      </h6>
    </div>
    <ng-template #positionSelectedBlock>
      <div class="flex">
        <h6 (click)="experienceSelect(i)" id="name" class="experience__position maincontent__blockcontent">{{experience[i].position}}
        </h6>
        <fa name="edit" (click)="experienceSelect(i)" style="font-size: 15px"></fa>
        <fa name="trash" (click)="experienceDelete(i)" style="font-size: 15px"></fa>
      </div>
    </ng-template>

    <div class="experience__projectSummary">
      <div *ngIf="companyNumberSelected[i]; else companySelectedBlock">
        <div class="experience__projectSummary">
          <input type="text" [(value)]="experience[i].companyName" (keyup.enter)="companyEnter(companybox.value,i)" (focusout)="companyEnter(companybox.value,i)"
            #companybox/>
          <span>&#124;</span>
        </div>
      </div>
      <ng-template #companySelectedBlock>
        <div class="experience__projectSummary">
          <div (click)="companySelect(i)">{{experience[i].companyName}}</div>
          <fa name="edit" (click)="companySelect(i)" style="font-size: 15px"></fa>
          <span>&#124;</span>
        </div>
      </ng-template>

      <div *ngIf="projectNumberSelected[i]; else projectSelectedBlock">
        <input type="text" [(value)]="experience[i].projectName" (keyup.enter)="projectEnter(projectbox.value,i)" (focusout)="projectEnter(projectbox.value,i)"
          #projectbox/>
        <span>&#124;</span>
      </div>
      <ng-template #projectSelectedBlock>
        <div class="experience__projectSummary">
          <div (click)="projectSelect(i)">{{experience[i].projectName}}</div>
          <fa name="edit" (click)="projectSelect(i)" style="font-size: 15px"></fa>
          <span>&#124;</span>
        </div>
      </ng-template>

      <div *ngIf="startTimeNumberSelected[i]; else startTimeSelectedBlock">
        <input type="text" [(value)]="experience[i].startTime" (keyup.enter)="startTimeEnter(startTimebox.value,i)" (focusout)="startTimeEnter(startTimebox.value,i)"
          #startTimebox/>
        <span>&ndash;</span>
      </div>
      <ng-template #startTimeSelectedBlock>
        <div class="experience__projectSummary">
          <div (click)="startTimeSelect(i)">{{experience[i].startTime}}</div>
          <fa name="edit" (click)="startTimeSelect(i)" style="font-size: 15px"></fa>
          <span>&ndash;</span>
        </div>
      </ng-template>

      <div *ngIf="endTimeNumberSelected[i]; else endTimeSelectedBlock">
        <input type="text" [(value)]="experience[i].endTime" (keyup.enter)="endTimeEnter(endTimebox.value,i)" (focusout)="endTimeEnter(endTimebox.value,i)"
          #endTimebox/>
      </div>
      <ng-template #endTimeSelectedBlock>
        <div class="experience__projectSummary">
          <div (click)="endTimeSelect(i)">{{experience[i].endTime}}</div>
          <fa name="edit" (click)="endTimeSelect(i)" style="font-size: 15px"></fa>
        </div>
      </ng-template>
    </div>

    <div *ngIf="technicalSelected[i]; else technicalSelectedBlock">
      <div class="experience__technical">
        <div>Technical:
          <input type="text" [(value)]="experience[i].technicalSkills" (keyup.enter)="technicalEnter(experienceBox.value,i)" (focusout)="technicalEnter(experienceBox.value,i)"
            #experienceBox/>
        </div>
      </div>
    </div>
    <ng-template #technicalSelectedBlock>
      <div (click)="technicalSelect(i)" class="experience__technical">
        <div>Technical:{{experience[i].technicalSkills}}
          <fa name="edit" (click)="technicalSelect(i)" style="font-size: 15px"></fa>
        </div>
      </div>
    </ng-template>

    <div *ngIf="projectDescriptionSelected[i]; else projectDescriptionSelectedBlock">
      <div class="experience__technical">
        <div class="experience__description">
          <textarea type="text" [(value)]="experience[i].projectDescription" rows="3" cols="110" (keyup.enter)="projectDescriptionEnter(projectDescriptionBox.value,i)"
            (focusout)="projectDescriptionEnter(projectDescriptionBox.value,i)" #projectDescriptionBox>
          </textarea>
        </div>
      </div>
    </div>
    <ng-template #projectDescriptionSelectedBlock>
      <div class="experience__description">
        <div (click)="projectDescriptionSelect(i)">{{experience[i].projectDescription}}
          <fa name="edit" (click)="projectDescriptionSelect(i)" style="font-size: 15px"></fa>
        </div>
      </div>
    </ng-template>


    <div *ngFor="let responsibilityItem of experienceItem.responsibility; index as j">

      <div *ngIf="responsibilityItemSelected[i][j];else responsibilitySelectedBlock">
        <div class="experience__responbilities__item">
          <fa name="angle-right" class="experience__icon"></fa>
          <div class="experience__list">
            <textarea row="2" cols="100" type="text" [(value)]="experience[i].responsibility[j]" (keyup.enter)="responsibilityItemEnter(experienceBox.value,i,j)"
              (focusout)="responsibilityItemEnter(experienceBox.value,i,j)" #experienceBox></textarea>
          </div>
        </div>
      </div>

      <ng-template #responsibilitySelectedBlock>
        <div class="experience__responbilities__item">
          <fa name="angle-right" class="experience__icon"></fa>
          <p (click)="responsibilityItemSelect(i,j)" class="experience__list">{{experience[i].responsibility[j]}}
          </p>
          <fa class="custom__FA__edit"  name="edit" (click)="responsibilityItemSelect(i,j)" style="font-size: 15px"></fa>
          <fa class="custom__FA__delete" name="trash" (click)="resDelete(i,j)" style="font-size: 15px"></fa>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- <button (click)="sendData()">Save data</button> -->
</div>