.maincontent__block{
    margin-bottom: 45px;
}
.experience__position{
    margin-bottom: 0;
}

.experience__position input, .experience__technical input{
    width: 400px;
}

.maincontent__blockcontent{
    margin-top: 25px;
    margin-bottom: 0px;
}

.experience__projectSummary{
    display: flex;
}

.experience__projectSummary span{
    padding: 0 8px;
}

.experience__technical, .experience__description{
    margin-top: 10px;
}

.experience__responbilities__item{
    padding-top: 5px;
    display: flex;
}

.experience__icon{
    margin-top: 5px;
    color: #cc2337;
}

.experience__list{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 4%;
}

.flex{
    display: flex;
}

.flex fa{
    margin-top: 24px;
}

h5{
    letter-spacing: 6px;
    color: #cc2337;
}

h6{
    font-weight: bold;
    text-transform: uppercase;
}

fa{
    margin-left: 5px;
    margin-top: 3px;
}

fa[name=edit], fa[name=trash] {
    color: #646464;    
}

textarea{
    resize: none;
    text-align: justify;
}
.custom__FA__edit   {
    padding-top: 3px;
}
.custom__FA__delete{
    padding-top: 1.5px;
}
@media print {
    fa[name=edit]{
        display: none;
    }
    fa[name=trash]{
        display: none;
    }
}
