h5{
    letter-spacing: 6px;
    color: #cc2337;
}

h6{
    font-weight: bold;
    text-transform: uppercase;
}

fa[name=edit], fa[name=trash] {
    color: #646464;    
}

.flex{
    display: flex;
}

.flex fa{
    margin-top: 24px;
    margin-left: 3px;
}

.capitalize{
    text-transform: capitalize;
}

.educationDetail__item{
    margin-bottom: 45px;
}

.educationDetail__header{
    margin-top: 25px;
    margin-bottom: 0;
}
.custom__FA__edit   {
    padding-top: 3px;
}
.custom__FA__delete{
    padding-top: 1.5px;
}

@media print {

    fa[name=edit]{
        display: none;
    }
    fa[name=trash]{
        display: none;
    }
}