<div class="education sidebar__block">
  <h5>EDUCATION</h5>

  <div *ngFor="let educationItem of education; index as i" class="educationDetail__item">

    <div class="educationDetail">
      <div *ngIf="majorSelected[i]; else majorSelectedBlock" class="educationDetail__header">
        <input type="text" [(value)]="education[i].major" (keyup.enter)="majorEnter(majorBox.value,i)" (focusout)="majorEnter(majorBox.value,i)"
          #majorBox/>
      </div>
      <ng-template #majorSelectedBlock>
        <div class="flex">
          <h6 class="educationDetail__header">{{education[i].major}}
          </h6>
          <fa name="edit" (click)="experienceSelect(i)" style="font-size: 15px"></fa>
          <fa name="trash" (click)="expDelete(i)" style="font-size: 15px"></fa>
        </div>
      </ng-template>

      <div class="educationDetail__item capitalize">
        <div *ngIf="nameSelected[i]; else nameSelectedBlock">
          <input type="text" [(value)]="education[i].name" (keyup.enter)="nameEnter(nameBox.value,i)" (focusout)="nameEnter(nameBox.value,i)"
            #nameBox/>
        </div>
        <ng-template #nameSelectedBlock>
          <div (click)="nameSelect(i)">{{education[i].name}}
            <fa name="edit" (click)="experienceSelect(i)" style="font-size: 15px"></fa>
          </div>
        </ng-template>

        <div *ngIf="gradutedTimeSelected[i]; else gradutedTimeSelectedBlock">
          <input type="text" [(value)]="education[i].gradutedTime" (keyup.enter)="gradutedTimeEnter(gradutedTimeBox.value,i)" (focusout)="gradutedTimeEnter(gradutedTimeBox.value,i)"
            #gradutedTimeBox/>
        </div>
        <ng-template #gradutedTimeSelectedBlock>
          <div (click)="gradutedTimeSelect(i)">{{education[i].gradutedTime}}
            <fa name="edit" (click)="experienceSelect(i)" style="font-size: 15px"></fa>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
</div>