h1, h5{
    letter-spacing: 6px;
}

h5{
    color: #cc2337;
}

h6{
    font-weight: bold;
    text-transform: uppercase;
}

fa{
    margin-left: 5px;
    margin-top: 3px;
}

fa[name=edit] {
    color: #646464;    
}

.maincontent__header{
    text-align: center;
    text-transform: uppercase;
}

#position{
    letter-spacing: 6px;
    font-weight: bold;
    padding-bottom: 60px;
}

#position input{
    width: 300px;
}

.maincontent__header hr{
    border-top: 4px solid #cc2337;
    width: 10%;
    padding-bottom: -60px;
}

.maincontent__block{
    margin-bottom: 45px;
}

.maincontent__blockcontent{
    margin-top: 25px;
    margin-bottom: 0px;
}

p#summary{
    margin-top: 10px;
}

textarea{
    resize: none;
    text-align: justify;
}

.maincontent__summary p{
    margin-top: 10px;
}

@media print{
    fa[name=edit] {display: none;}

}