<!-- maincontent__header -->
  <!-- name input -->
<div *ngIf="nameSelected; else nameBlock">
  <h1 class="maincontent__header" id="name">
    <input type="text" [(value)]="name" (keyup.enter)="nameEnter(namebox.value)" (focusout)="nameEnter(namebox.value)" #namebox/>
  </h1>
</div>
<ng-template #nameBlock>
  <h1 (click)="nameSelect()" id="name" class="maincontent__header">{{name}}
    <fa name="edit" (click)="nameSelect()" style="font-size: 15px"></fa>
  </h1>
</ng-template>

<div class="maincontent__header">
  <hr>
</div>

  <!-- position input -->
<div *ngIf="currentpostionSelected; else currentpostion">
  <h6 class="maincontent__header" id="position">
    <input type="text" [(value)]="currentPosition" (keyup.enter)="currentpositionEnter(posbox.value)" (focusout)="currentpositionEnter(posbox.value)"
      #posbox/>
  </h6>
</div>
<ng-template #currentpostion>
  <h6 (click)="currentpositionSelect()" class="maincontent__header" id="position">{{currentPosition}}
    <fa name="edit" (click)="currentpositionSelect()" style="font-size: 15px"></fa>
  </h6>
</ng-template>

<!-- end maincontent__header-->

<!-- maincontent__profile -->
<div class="maincontent__profile maincontent__block">
  <h5>PROFILE</h5>

  <div *ngIf="profileSelected; else profileBlock">
    <p id="profile" class="maincontent__blockcontent">
      <textarea type="text" [(value)]="profile" rows="5" cols="110" (keyup.enter)="profileEnter(profilebox.value)" (focusout)="profileEnter(profilebox.value)"
        #profilebox>
    </textarea>
    </p>
  </div>
  <ng-template #profileBlock>
    <p (click)="profileSelect()" id="profile" class="maincontent__blockcontent">{{personalStatement}}
      <fa name="edit" (click)="profileSelect()" style="font-size: 15px"></fa>
    </p>
  </ng-template>
</div>
<!-- end maincontent__profile-->

<!-- maincontent__summary -->
<div class="maincontent__summary maincontent__block">
  <h5>SKILL SUMMARY</h5>

  <div *ngIf="englishSelected; else englishBlock">
    <div class="maincontent__blockcontent">English level:
      <input type="text" [(value)]="english" (keyup.enter)="englishEnter(box.value)" (focusout)="englishEnter(box.value)" #box/>
    </div>
  </div>
  <ng-template #englishBlock>
    <div (click)="englishSelect()" class="maincontent__blockcontent">English level:{{skillSummary.englishLevel}}
      <fa name="edit" (click)="englishSelect()" style="font-size: 15px"></fa>
    </div>
  </ng-template>

  <div *ngIf="summarySelected; else summaryBlock">
    <p id="summary" class="maincontent__blockcontent">
      <textarea type="text" [(value)]="summary" rows="5" cols="110" (keyup.enter)="summaryEnter(summarybox.value)" (focusout)="summaryEnter(summarybox.value)"
        #summarybox>
    </textarea>
    </p>
  </div>
  <ng-template #summaryBlock>
    <p (click)="summarySelect()" id="summary" class="maincontent__blockcontent">{{skillSummary.skill}}
      <fa name="edit" (click)="summarySelect()" style="font-size: 15px"></fa>
    </p>
  </ng-template>
</div>
<!-- end maincontent__summary-->


<!-- maincontent__experience -->
<app-template-a-experience (experienceDeletedEvent)="receiveDeletedExperience($event)"
(responsibilityDeletedEvent)="receiveDeletedResponsibility($event)"
 [experience] ="experience" [responsibilityItemSelected]="responsibilityItemSelected">
</app-template-a-experience>


<!-- end maincontent__experience -->