<div class="m-t-1">
    <div id="homepage" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#homepage" data-slide-to="0" class="active"></li>
            <li data-target="#homepage" data-slide-to="1"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img routerLink="/template-a" routerLinkActive="active" src="../assets/img/templateA.PNG" alt="Template A">
                <div class="carousel-caption">
                    <h3>Template A</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img routerLink="/template-b" routerLinkActive="active" src="../assets/img/templateB.PNG" alt="Template B">
                <div class="carousel-caption">
                    <h3>Template B</h3>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#homepage" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#homepage" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>


</div>