.carousel-inner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    height: 622px;
}

span{
    background-color: #cc2337 !important; 
}

.carousel-caption{
    color: #cc2337;
}

.carousel-indicators li{
    background-color: #949494;
}

.carousel-indicators li.active{
    background-color: #cc2337;
}

.carousel-control-next{
    right: 100px;
}

.carousel-control-prev{
    left: 100px;
}

@media print{
    .m-t-1{
        display: none;
    }
}