<div>
  <img src="../../../../assets/img/profileImage.jpg" id="avatar">
</div>


<div class="contact sidebar__block">
  <h5>CONTACT</h5>
  <div class="contactDetail ">
    <div *ngIf="phoneSelected; else phoneBlock">
      <div class="phone contactDetail__item ">
        <fa name="phone" style="width:26px"></fa>
        <div class="phone__detail ">
          <input type="text" [(value)]="phoneNum" (keyup.enter)="phoneEnter(box.value)" (focusout)="phoneEnter(box.value)"
            #box/>
        </div>
      </div>
    </div>
    <ng-template #phoneBlock>
      <div class="phone contactDetail__item ">
        <fa name="phone " style="width:26px"></fa>
        <div class="phone__detail" (click)="phoneSelect()">{{phoneNum}}
          <fa name="edit" (click)="phoneSelect()" style="font-size: 15px"></fa>
        </div>
      </div>
    </ng-template>

    <div *ngIf="addressSelected; else addressBlock">
      <div class="address contactDetail__item ">
        <fa name="map-marker" style="width:26px"></fa>
        <div class="address__detail ">
          <textarea type="text" row="2" cols="28" [(value)]="address" (keyup.enter)="addressEnter(box.value)" (focusout)="addressEnter(box.value)"
            #box></textarea>
        </div>
      </div>
    </div>
    <ng-template #addressBlock>
      <div class="address contactDetail__item ">
        <fa name="map-marker " style="width:36px"></fa>
        <div class="address__detail " (click)="addressSelect()">{{address }}
          <fa name="edit" (click)="addressSelect()" style="font-size: 15px"></fa>
        </div>
      </div>
    </ng-template>


    <div *ngIf="emailSelected; else emailBlock">
      <div class="email contactDetail__item ">
        <fa name="envelope"></fa>
        <div class="email__detail ">
          <input type="text" [(value)]="email" (keyup.enter)="emailEnter(box.value)" (focusout)="emailEnter(box.value)"
            #box/>
        </div>
      </div>
    </div>
    <ng-template #emailBlock>
      <div class="email contactDetail__item ">
        <fa name="envelope "></fa>
        <div class="email__detail" (click)="emailSelect()">{{email}}
          <fa name="edit" (click)="emailSelect()" style="font-size: 15px"></fa>
        </div>
      </div>
    </ng-template>

    <div *ngIf="facebookSelected; else facebookBlock">
      <div class="facebook contactDetail__item ">
        <fa name="facebook" style="width:26px"></fa>
        <div class="facebook__detail">
          <input type="text" [(value)]="facebook" (keyup.enter)="facebookEnter(box.value)" (focusout)="facebookEnter(box.value)"
            #box/>
        </div>
      </div>
    </div>
    <ng-template #facebookBlock>
      <div class="facebook contactDetail__item ">
        <fa name="facebook " style="width:26px"></fa>
        <div class="facebook__detail " (click)="facebookSelect()">{{facebook }}
          <fa name="edit" (click)="facebookSelect()" style="font-size: 15px"></fa>
        </div>
      </div>
    </ng-template>

    <div *ngIf="linkedinSelected; else linkedinBlock">
      <div class="linkedin contactDetail__item ">
        <fa name="linkedin" style="width:26px"></fa>
        <div class="linkedin__detail">
          <input type="text" [(value)]="linkedin" (keyup.enter)="linkedinEnter(box.value)" (focusout)="linkedinEnter(box.value)"
            #box/>
        </div>
      </div>
    </div>
    <ng-template #linkedinBlock>
      <div class="linkedin contactDetail__item ">
        <fa name="linkedin " style="width:26px"></fa>
        <div class="linkedin__detail " (click)="linkedinSelect()">{{linkedin }}
          <fa name="edit" (click)="linkedinSelect()" style="font-size: 15px"></fa>
        </div>
      </div>
    </ng-template>

    <div *ngIf="githubSelected; else githubBlock">
      <div class="github contactDetail__item ">
        <fa name="github" style="width:26px"></fa>
        <div class="github__detail">
          <input type="text" [(value)]="github" (keyup.enter)="githubEnter(box.value)" (focusout)="githubEnter(box.value)"
            #box/>
        </div>
      </div>
    </div>
    <ng-template #githubBlock>
      <div class="github contactDetail__item ">
        <fa name="github " style="width:26px"></fa>
        <div class="github__detail " (click)="githubSelect()">{{github }}
          <fa name="edit" (click)="githubSelect()" style="font-size: 15px"></fa>
        </div>
      </div>
    </ng-template>

    <div *ngIf="portfolioSelected; else portfolioBlock">
      <div class="portfolio contactDetail__item ">
        <fa name="internet-explorer" style="width:26px"></fa>
        <div class="portfolio__detail">
          <input type="text" [(value)]="portfolio" (keyup.enter)="portfolioEnter(box.value)" (focusout)="portfolioEnter(box.value)"
            #box/>
        </div>
      </div>
    </div>
    <ng-template #portfolioBlock>
      <div class="portfolio contactDetail__item ">
        <fa name="internet-explorer " style="width:26px"></fa>
        <div class="portfolio__detail " (click)="portfolioSelect()">{{portfolio }}
          <fa name="edit" (click)="portfolioSelect()" style="font-size: 15px"></fa>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<app-sidebar-education (educationDeletedEvent)="receiveEducationDeleted($event)" [education]="education"></app-sidebar-education>
<app-sidebar-achievement (achievementsDeletedEvent)="receiveAchievementDeleted($event)"
[specialAchievements]="specialAchievements"></app-sidebar-achievement>