h5{
    letter-spacing: 6px;
    color: #cc2337;
}

h6{
    font-weight: bold;
    text-transform: uppercase;
}

#avatar{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea{
    resize: none;
    text-align: justify;
}

fa[name=edit] {
    color: #646464;    
}

.sidebar__block{
    margin: 53px 0;
    width: 290px;
}

.contactDetail{
    margin: 10px 0;
}

.contactDetail fa{
    padding-right: 10px;
}

.contactDetail__item{
    padding: 10px 0;
    display: flex;
}

.contactDetail__item input{
    width: 250px;
}

.email__detail, .facebook__detail, .linkedin__detail,.github__detail,.portfolio__detail{
    word-break: break-all;
}

.address__detail{
    word-wrap: break-word;
}

@media print {
    fa[name=edit] {
        display: none;
    }
}
