<div class="achievement sidebar__block">
  <h5>ACHIEVEMENT</h5>

  <div *ngFor="let achievementItem of specialAchievements; index as i">

    <div class="achievementDetail">
      <div *ngIf="nameSelected[i]; else nameSelectedBlock" class="achievementDetail__header">
        <input type="text" [(value)]="specialAchievements[i].name" (keyup.enter)="nameEnter(nameBox.value,i)" (focusout)="nameEnter(nameBox.value,i)"
          #nameBox/>
      </div>
      <ng-template #nameSelectedBlock>
        <div class="flex">
          <h6 class="achievementDetail__header" (click)="nameSelect(i)">{{specialAchievements[i].name}}
          </h6>
          <fa name="edit" (click)="nameSelect(i)" style="font-size: 15px"></fa>
          <fa name="trash" (click)="achivementDelete(i)" style="font-size: 15px"></fa>
        </div>
      </ng-template>

      <div class="achievementDetail__item capitalize">
        <div *ngIf="placeSelected[i]; else placeSelectedBlock">
          <input type="text" [(value)]="specialAchievements[i].place" (keyup.enter)="placeEnter(placeBox.value,i)" (focusout)="placeEnter(placeBox.value,i)"
            #placeBox/>
        </div>
        <ng-template #placeSelectedBlock>
          <div (click)="placeSelect(i)">{{specialAchievements[i].place}}
            <fa name="edit" (click)="placeSelect(i)" style="font-size: 15px"></fa>
          </div>
        </ng-template>

        <div *ngIf="timeSelected[i]; else timeSelectedBlock">
          <input type="text" [(value)]="specialAchievements[i].time" (keyup.enter)="timeEnter(timeBox.value,i)" (focusout)="timeEnter(timeBox.value,i)"
            #timeBox/>
        </div>
        <ng-template #timeSelectedBlock>
          <div (click)="timeSelect(i)">{{specialAchievements[i].time}}
            <fa name="edit" (click)="timeSelect(i)" style="font-size: 15px"></fa>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
</div>