h5{
    letter-spacing: 6px;
    color: #cc2337;
}

h6{
    font-weight: bold;
    text-transform: uppercase;
}

.flex{
    display: flex;
}

.flex fa{
    margin-top: 24px;
    margin-left: 3px;
}

fa[name=edit], fa[name=trash]{
    color: #646464;
}

.capitalize{
    text-transform: capitalize;
}

.achievementDetail__item {
    margin-bottom: 45px;
}

.achievementDetail__header {
    margin-top: 25px;
    margin-bottom: 0;
}
.custom__FA__edit   {
    margin-top: 15px !important;
}
.custom__FA__delete{
    margin-top: 10px !important;
}

@media print {
    fa[name=edit]{
        display: none;
    }
    fa[name=trash]{
        display: none;
    }
}