<div class=" maincontent">
  <div class="maincontent__header">CURRICULUM VITAE</div>
</div>

<div class="content row">
  <div class="card cardcustom col-4">
    <div class="card-body card-body-custom">
      <div *ngIf="nameSelected; else nameBlock">
        <input type="text" [(value)]="name" (keyup.enter)="nameEnter(namebox.value)" (focusout)="nameEnter(namebox.value)" #namebox/>
      </div>
      <ng-template #nameBlock>
        <h4 (click)="nameSelect()" class="card-title card-title-custom">{{name}}
          <fa name="edit" (click)="nameSelect()" style="font-size: 15px"></fa>
        </h4>
      </ng-template>

      <h5 class="card-text">{{currentPosition}}</h5>
    </div>

    <img class="card-img-top" src="../../../../assets/img/sang.jpg" alt="Card image cap">
  </div>

  <div class="col-7 offset-1">
    <div class="row">
      <div class="card col-6 ">
        <h4 class="card-title information__header">Personal Information</h4>
        <div class="card-text">
          <div>Phone: {{phoneNumber}}</div>
          <div>Address: {{address}}</div>
          <div>Email:{{email}}</div>
          <div>Facebook: {{facebook}}</div>
          <div>Linkedin: {{linkedin}}</div>
          <div>Github: {{github}}</div>
          <div>Portfolio: {{portfolio}}</div>
        </div>
      </div>

      <div class="card col-6">
        <h4 class="card-title information__header">Personal Statement</h4>
        <div class="card-text">
          <div>{{personalStatement}}</div>
        </div>
      </div>
    </div>
    <div class="row skill">
      <div class="card col-12">
        <h4 class="card-title information__header">Skill Summary</h4>
        <div>English level: {{englishLevel}}</div>
        <div>{{skill}}</div>
      </div>
    </div>
  </div>
</div>