<div class="header">
  <div class="header__logo__container">

    <img src="../../../../assets/img/nashtech.jpg" class="header__logo__image">

  </div>



  <div class="header__decorator__container">

    <img src="../../../../assets/img/decorator.png" class="header__decorator__image">

  </div>

</div>