<!-- Template A -->
<div class="container-fluid ">
    <div class="row row--mod">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </div>

    <div class="row">
        <!-- Main content -->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9 maincontent">
            <app-maincontent [name]="name" [currentPosition]="currentPosition"
            [personalStatement]="personalStatement" [skillSummary]="skillSummary"
            [experience]="experience" [responsibilityItemSelected]="responsibilityItemSelected"
            (experienceDeletedEvent)="receiveDeletedExperience($event)"
            (responsibilityDeletedEvent)="receiveDeletedResponsibility($event)">       
            </app-maincontent>
        </div>

        <!-- Sidebar -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 sidebar">
            <app-sidebar [phoneNum]="phoneNum" [address]="address" [facebook]="facebook"
            [email]="email" [github]="github" [linkedin]="linkedin" [portfolio]="portfolio"
            [education]="education" [specialAchievements]="specialAchievements"
            (educationDeletedEvent)="receiveEducationDeleted($event)"
            (achievementsDeletedEvent)="receiveAchievementDeleted($event)">
        </app-sidebar>
        </div>
    </div>

</div>
