<div class=" maincontent">
  <div class="maincontent__header">Education</div>
</div>
<div class="maintable">
  <table>
    <tr class="table-custom">
      <th scope="col">Major</th>
      <th scope="col">University</th>
      <th scope="col">Graduated Year</th>
    </tr>

    <tr>
      <td>{{name}}</td>
      <td>{{major}}</td>
      <td>{{gradutedTime}}</td>
    </tr>
    <tr>
      <td>{{name}}</td>
      <td>{{major}}</td>
      <td>{{gradutedTime}}</td>
    </tr>
    <tr>
      <td>{{name}}</td>
      <td>{{major}}</td>
      <td>{{gradutedTime}}</td>
    </tr>

  </table>
</div>